.form {
    text-align: right;
}

.form button {
    font: inherit;
  cursor: pointer;
   background-color: #814304;
   border:1px solid #814304;
    border-radius: 20px;
    color: white;
    padding: 0.25rem 2rem;
    font-weight: bold;
    
}

.form button:hover,
.form button:active {
  background-color: #cd6d0e;
  border-color: #cd6d0e;
  ;
}